<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Info</title>
    <link rel="shortcut icon" href="/static/rsc/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Bootstrap CDN (CSS, JS, Popper, jQuery)-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--Custom CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/sticky-footer.css')}}">

    <!--Custom JS-->
    <script src="{{url_for('static', filename='js/footer.js')}}"></script>

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="/static/rsc/Logo.png" alt="Logo" style="width: 50px">&nbsp; goodbooksfor.me
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('books')}}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('about')}}">About</a>
                </li>
            </ul>
            <form action="{{url_for('search_bar')}}" method="post">
                <input type="text" placeholder="Search.." name="user_search" style="width:200px;">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>

    <!--Content-->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-1"><br /></div>
                <div class="col-4 text-center pt-5">
                    <img src={{i.image_url}} style="width:75%; display:block; margin:auto ">
                </div>
                <div class="col-6 text-center pt-4">
                    <h2 class="mb-3 ">{{i.title}}</h2> {% if i.subtitle is none %} {% else %}
                    <h2 class="mb-3 ">{{i.subtitle}}</h2> {% endif %}
                    <table class="table table-striped" style="width:100%; margin:auto">
                        <tr>
                            <th scope="row ">Author</th>
                            <td><a href="{{url_for('authorInfo', authorID = i.authorNum)}}">{{i.author}}</a></td>
                        </tr>
                        <tr>
                            <th scope="row ">Publisher</th>
                            <td><a href="{{url_for('publisherInfo', publisherID = i.publisherNum)}}">{{i.publisher}}</a></td>
                        </tr>
                        {% if i.publication_date is none %} {% else %}
                        <tr>
                            <th scope="row ">Publication Date</th>
                            <td>{{i.publication_date}}</td>
                        </tr>{% endif %} {% if i.isbn is none %} {% else %}
                        <tr>
                            <th scope="row ">ISBN</th>
                            <td>{{i.isbn}}</td>
                        </tr>{% endif %}
                        <tr>
                            <th scope="row ">Google ID</th>
                            <td>{{i.google_id}}</td>
                        </tr>
                    </table>
                    <br />{% if i.description is none %} {% else %}
                    <p>{{i.description}}{% endif %}
                </div>
                <div class="col-1"><br /></div>
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-4">
                <div class="col-lg h-100 text-center text-lg-center my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="{{url_for('about')}}">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('terms')}}">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="{{url_for('privacy')}}">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0" id="currentDate"></p>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; goodbooksfor.me <span id="currentYear">2019</span>. All Rights Reserved.</p>
                    <script>
                        window.addEventListener("load", function() {
                            currentDate();
                            currentYear();
                        });
                    </script>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>