<!-- Type in the following code and save it in the file "book2.html" inside the folder "templates"
-->
<html>

<head> </head>

<body>
	<p>This is the authors page</b>
		<!--{{url_for('search_all')}}-->
		<form action="{{url_for('search_bar')}}" method="post">
			Search:
			<input type="text" name="user_search">
			<input type="submit" value="Ok">
		</form>
		<h1>Author Results</h1> {% if authorResults == [] %}
		<p>No authors exist</p>
		{% else %} {% for i in authorResults %}
		<div>
			<a href="{{url_for('authorInfo', authorID = i.authorNum)}}">
								<img class="card-img-top img-fluid" src="{{i.image_url}}"
									style="width:200px; height:250px; display:block; margin:auto">
							</a>
			<br/> <br/>
		</div>
		{% endfor %} {% endif %}
</body>

</html>
<!-- end of book2.html -->
